<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL路径表达式</title>
</head>
<body>
<h1>URL路径表达式：@{....}</h1>
<h2>a标签中的绝对路径（没有参数）</h2>
<a href="http://www.baidu.com">传统写法：跳转至百度</a><br/>
<a th:href="@{http://www.bjpowernode.com}">路径表达式:跳转至动力节点</a><br/>
<a th:href="@{http://localhost:8080/user/detail}">路径表达式:跳转至/user/detail</a><br/>
<a href="http://localhost:8080/user/det                                                                                                                                                              ail">传统写法:跳转至/user/detail</a><br/>
<h2>URL路径表达式，相对路径[没有参数]（实际开发中推荐使用的）</h2>
<a th:href="@{/user/detail}">跳转到：/user/detail</a><br/>

<h2>绝对路径（带参数）(不推荐使用)</h2>
<a href="http://localhost:8080/test?username='zhangsan'">绝对路径，带参数:/test,并带参数username</a><br/>
<a th:href="@{http://localhost:8080/test?username='zhanhsan'}">路径表达式写法：带参数:/test,并带参数username</a>
<h2>相对路径（带参数）</h2>
<a th:href="@{/test?username=lisi}">相对路径，带参数</a>
<h2>相对路径（带参数:后台获取的参数值）</h2>
<a th:href="@{'/test?username='+${id}}">相对路径：获取后台参数值</a>
<h2>相对路径（带多个参数:后台获取的参数值）</h2>
<a th:href="@{'/test1?id='+${id}+'&age='+${age}+'&username='+${username}}">相对路径（带多个参数:后台获取的参数值）</a><br/>
<a th:href="@{/test1(id=${id},age=${age},username=${username})}">(强烈推荐这种方式)----->相对路径（带多个参数:后台获取的参数值）</a>
<a th:href="@{'/test2/'+${id}}">请求路径为Restful风格</a>
</body>
</html>